.navbar-inner {
    border-radius: 0 0 0 0;
}
#calculator-wrapper {
  font-size: 42px;
}
#calculator-wrapper .uneditable-input {
  height: 42px;
  font-size: 42px;
  line-height: 35px;
  width: 95%;
}


#calc-board .btn {
  width: 15%;
  height: 50px;
  margin: 0 5px 5px 0;
  line-height: 50px;
  font-weight: bold;
  font-size: 25px;
}
